* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    
    font-family: "Lucida Grande";  
}

header {
    display: flex;
    flex-wrap: wrap;
}
.header {
    display:flex;
    height: 150px;
   
    align-items: center;
    justify-content: center;
}
.name {
    font-size: 25px;
    font-weight: 200px;
    font-family: "system-ui";
    width: 100%;
    text-align: center;

}


#board {
    display: flex;
    flex-wrap: wrap;

    width: 200px;
    height: 330px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
   

}

.box {
    display: flex;
    background-color: whitesmoke;
    width: 40px;
    height: 40px;
    border: 1px solid darkgray;
    align-items: center;
    justify-content: center;   
}

#keyboardLine1, #keyboardLine2, #keyboardLine3 {
    display: flex;
    flex-flow: row wrap;

    background-color: whitesmoke;
    width: 100%;
    height: 60px;
    align-items: center;
    justify-content: center;
}



.key {
    display: flex;
    background-color: rgb(197, 195, 195);
    width: 30px;
    height: 40px;
    border-radius:20%;
    border: 1px solid darkgray;
    margin: 2px;
    align-items: center;
    justify-content: center;
}

#ENTER, #DELETE {
    width: 60px;
}

.correct_spot {
    background-color:rgb(129, 199, 108);
}

.correct_letter {
    background-color: rgb(242, 233, 136);
}

.incorrect_letter {
    background-color: rgb(145, 144, 141);
}

.popup {
    display: block;
    margin: 20px;

    display: none;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 8px;
    margin: 20px


}

.popup:after {
    content: "";
    top: 100%;
    left: 50%;
    border-color: #555 transparent transparent transparent;
}

.show {
    display: block;
    animation: fadeIn 1s;  
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}